.form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    margin: 5px 15px;
    background-color: #fff;
}

.form_header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form_name{
    border: none;
    outline: none;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    margin-left: 15px;
    color: #202124;
    width: 120px;
}

.form_header_icon{
    color: #202124;
    font-size: 20px;
    margin-right: 10px;
}

.form_name:focus{
    border-bottom: 1px solid rgb(86, 76, 76);
}

.form_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.username-display {
    margin-left: 8px; /* Khoảng cách giữa avatar và tên */
    font-size: 14px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
}