.template_section{
    background-color: #B0E1FA;
    /* background-color: #A1C9F1; */
    padding-bottom: 40px;
    padding-top: 7px;
    /* margin: 0px 10px;
    padding: 5px 0px; */
}

.template_top{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.template_right{
    display: flex;
}

.gallery_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: none; */
    background: transparent;
    /* outline: none; */
    font-size: 14px;
}
.template_body{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.card{
    margin-left: 20px;
    margin-top: 15px;
}

.card_image{
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.3px solid #FFFDF7;
}

.card_image:hover{
    border: 1px solid #6E2594;
}

.card_title{
    font-size: 14px;
    margin-top: 2px;
    color: #202124;
    font-weight: 500px;
}